.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 25%;
}

.logo {
  max-width: 8.5rem;
  height: auto;
}

@media only screen and (min-width: 60rem) {
  .logo {
    max-width: 12rem;
  } 
}