.navigationList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  align-self: center;
}

.navigationItem {
  padding-left: 1.75rem;
}

.navigationItem:first-child {
  padding-left: 0;
}

.navigationItem a {
  color: inherit;
  text-decoration: none;
}

.navigationItem a:hover {
  border-bottom: 1px solid #FFFFFF;
}

@media only screen and (min-width: 60rem) {
  .navigationItem {
    padding-left: 3.5rem;
  }  
}