.outerContainer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.25);
}

.innerContainer {
  max-width: 600px;
  margin: auto;
}

.navigationList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}