.outerContainer {
  width: 100%;
  background-color: rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  padding: 1.75rem 0;
}